.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
}

.header img {
  height: 40px;
}

.header a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

.btn {
  padding: 10px 18px;
  border: none;
  background: #2563eb;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.hero {
  min-height: 120px;
  background: linear-gradient(135deg, #2563eb, #6366f1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px;
  color: white;
}

.hero-text {
  max-width: 500px;
}

.hero-text h1 {
  font-size: 3rem;
  line-height: 1.2;
}

.hero-text span {
  color: #e0e7ff;
}

.hero-text p {
  margin: 20px 0;
  font-size: 1.1rem;
}

.hero-text button {
  padding: 14px 22px;
  border: none;
  background: white;
  color: #2563eb;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}
.hero-visual {
  position: relative;
  width: 400px;
  overflow: hidden;
}
.main-img {
  width: 100%;
  position: relative;
  z-index: 1;
  border-radius:50%;
}
.card {
  position: absolute;
  width: 120px;
  border-radius: 2px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.2);
  max-width: 100%;
}

.card-1 {
  top: 5%;
  left: 20px;
  z-index:5;
}

.card-2 {
  bottom: 5%;
  left: 50px;
  z-index:5;
}
.footer {
  text-align: right;
  padding: 20px 40px;
  background: #f3f4f6;
 
}
.footer p,footer i{
    margin:2px 0;
}

.footer img {
  width: 80px;
  border-radius: 50%;
  align: right ;
 
}


@media (max-width: 768px) {

  .header {
    padding: 15px 20px;
  }

  .header div {
    flex-wrap: wrap;
    justify-content: center;
  }

  .hero {
    flex-direction: column;
    text-align: center;
    padding: 40px 20px;
    min-height: auto;
  }

  .hero-text {
    width: 100%;
  }

  .hero-text h1 {
    font-size: 2.2rem;
  }

  .hero-visual {
    width: 100%;
    margin-top: 30px;
  }
}

@media (max-width: 768px) {

  .header {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .header div {
    display: flex;
    flex-direction: column;   /* THIS is the key */
    align-items: center;
    gap: 10px;
    width: 100%;
  }

  .header a {
    font-size: 16px;
  }

  .btn {
    width: 150px;
    text-align: center;
  }
  .card-1 {
  top: 10%;
  left: 20px;
  z-index:5;
}
 .card-2 {
  bottom: 10%;
  right: 20px;
  z-index:5;
} 
}